<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- "All files access": the app works directly on workspace folders via java.io.File. -->
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <!-- Git clone/push/pull over HTTPS. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Foreground/status notifications (clone & sync progress, future background work). -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".XcodeApp"
        android:allowBackup="false"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Xcode">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Open with Xcode: VIEW on text/code MIME types. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="text/*" />
                <data android:mimeType="application/json" />
                <data android:mimeType="application/xml" />
                <data android:mimeType="application/javascript" />
                <data android:mimeType="application/x-javascript" />
                <data android:mimeType="application/x-sh" />
                <data android:mimeType="application/x-shellscript" />
                <data android:mimeType="application/x-yaml" />
                <data android:mimeType="application/yaml" />
                <data android:mimeType="application/toml" />
                <data android:mimeType="application/sql" />
                <data android:mimeType="application/x-httpd-php" />
                <data android:mimeType="application/x-php" />
                <data android:mimeType="application/x-python" />
                <data android:mimeType="application/x-ruby" />
                <data android:mimeType="application/x-perl" />
                <data android:mimeType="application/x-tex" />
                <data android:mimeType="application/x-subrip" />
                <data android:mimeType="application/x-wine-extension-ini" />
            </intent-filter>

            <!-- Same, but for files whose MIME type the file manager can't tell (octet-stream,
                 */*, none): matched by extension / well-known name instead. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.txt" />
                <data android:pathPattern=".*\\.md" />
                <data android:pathPattern=".*\\.markdown" />
                <data android:pathPattern=".*\\.log" />
                <data android:pathPattern=".*\\.ini" />
                <data android:pathPattern=".*\\.cfg" />
                <data android:pathPattern=".*\\.conf" />
                <data android:pathPattern=".*\\.properties" />
                <data android:pathPattern=".*\\.env" />
                <data android:pathPattern=".*\\.gitignore" />
                <data android:pathPattern=".*\\.gitattributes" />
                <data android:pathPattern=".*\\.gitmodules" />
                <data android:pathPattern=".*\\.editorconfig" />
                <data android:pathPattern=".*\\.kt" />
                <data android:pathPattern=".*\\.kts" />
                <data android:pathPattern=".*\\.java" />
                <data android:pathPattern=".*\\.gradle" />
                <data android:pathPattern=".*\\.xml" />
                <data android:pathPattern=".*\\.json" />
                <data android:pathPattern=".*\\.json5" />
                <data android:pathPattern=".*\\.yaml" />
                <data android:pathPattern=".*\\.yml" />
                <data android:pathPattern=".*\\.toml" />
                <data android:pathPattern=".*\\.csv" />
                <data android:pathPattern=".*\\.tsv" />
                <data android:pathPattern=".*\\.sql" />
                <data android:pathPattern=".*\\.html" />
                <data android:pathPattern=".*\\.htm" />
                <data android:pathPattern=".*\\.css" />
                <data android:pathPattern=".*\\.scss" />
                <data android:pathPattern=".*\\.sass" />
                <data android:pathPattern=".*\\.less" />
                <data android:pathPattern=".*\\.js" />
                <data android:pathPattern=".*\\.mjs" />
                <data android:pathPattern=".*\\.cjs" />
                <data android:pathPattern=".*\\.jsx" />
                <data android:pathPattern=".*\\.ts" />
                <data android:pathPattern=".*\\.tsx" />
                <data android:pathPattern=".*\\.vue" />
                <data android:pathPattern=".*\\.svelte" />
                <data android:pathPattern=".*\\.php" />
                <data android:pathPattern=".*\\.py" />
                <data android:pathPattern=".*\\.rb" />
                <data android:pathPattern=".*\\.go" />
                <data android:pathPattern=".*\\.rs" />
                <data android:pathPattern=".*\\.c" />
                <data android:pathPattern=".*\\.h" />
                <data android:pathPattern=".*\\.cpp" />
                <data android:pathPattern=".*\\.hpp" />
                <data android:pathPattern=".*\\.cc" />
                <data android:pathPattern=".*\\.cs" />
                <data android:pathPattern=".*\\.swift" />
                <data android:pathPattern=".*\\.dart" />
                <data android:pathPattern=".*\\.lua" />
                <data android:pathPattern=".*\\.pl" />
                <data android:pathPattern=".*\\.r" />
                <data android:pathPattern=".*\\.sh" />
                <data android:pathPattern=".*\\.bash" />
                <data android:pathPattern=".*\\.zsh" />
                <data android:pathPattern=".*\\.bat" />
                <data android:pathPattern=".*\\.cmd" />
                <data android:pathPattern=".*\\.ps1" />
                <data android:pathPattern=".*\\.smali" />
                <data android:pathPattern=".*\\.aidl" />
                <data android:pathPattern=".*\\.pro" />
                <data android:pathPattern=".*\\.cmake" />
                <data android:pathPattern=".*\\.mk" />
                <data android:pathPattern=".*\\.lock" />
                <data android:pathPattern=".*\\.tf" />
                <data android:pathPattern=".*\\.diff" />
                <data android:pathPattern=".*\\.patch" />
                <data android:pathPattern=".*\\.rst" />
                <data android:pathPattern=".*\\.tex" />
                <data android:pathPattern=".*\\.gitkeep" />
                <data android:pathPattern=".*/Dockerfile" />
                <data android:pathPattern=".*/Makefile" />
                <data android:pathPattern=".*/gradlew" />
                <data android:pathPattern=".*/README" />
                <data android:pathPattern=".*/LICENSE" />
                <data android:pathPattern=".*/CHANGELOG" />
                <data android:pathPattern=".*/Procfile" />
                <data android:pathPattern=".*/Gemfile" />
                <data android:pathPattern=".*/Rakefile" />
                <data android:pathPattern=".*\\.releaserc" />
                <data android:pathPattern=".*\\.npmrc" />
                <data android:pathPattern=".*\\.nvmrc" />
                <data android:pathPattern=".*\\.babelrc" />
                <data android:pathPattern=".*\\.eslintrc" />
                <data android:pathPattern=".*\\.prettierrc" />
                <data android:pathPattern=".*\\.stylelintrc" />
                <data android:pathPattern=".*\\.dockerignore" />
                <data android:pathPattern=".*\\.npmignore" />
                <data android:pathPattern=".*\\.eslintignore" />
                <data android:pathPattern=".*\\.prettierignore" />
                <data android:pathPattern=".*\\.gitconfig" />
                <data android:pathPattern=".*\\.bashrc" />
                <data android:pathPattern=".*\\.zshrc" />
                <data android:pathPattern=".*\\.profile" />
                <data android:pathPattern=".*\\.mailmap" />
                <data android:pathPattern=".*\\.tool-versions" />
                <data android:pathPattern=".*\\.editorconfig" />
                <data android:pathPattern=".*/NOTICE" />
                <data android:pathPattern=".*/AUTHORS" />
                <data android:pathPattern=".*/CONTRIBUTORS" />
                <data android:pathPattern=".*/CONTRIBUTING" />
                <data android:pathPattern=".*/CODEOWNERS" />
                <data android:pathPattern=".*/COPYING" />
                <data android:pathPattern=".*/VERSION" />
                <data android:pathPattern=".*/TODO" />
                <data android:pathPattern=".*/INSTALL" />
                <data android:pathPattern=".*/SECURITY" />
                <data android:pathPattern=".*/MAINTAINERS" />
                <data android:pathPattern=".*/Jenkinsfile" />
                <data android:pathPattern=".*/Vagrantfile" />
                <data android:pathPattern=".*/Brewfile" />
                <data android:pathPattern=".*/Podfile" />
                <data android:pathPattern=".*/Fastfile" />
                <data android:pathPattern=".*/Gemfile.lock" />
                <data android:pathPattern=".*/CMakeLists.txt" />
            </intent-filter>

            <!-- Open with Xcode: EDIT on text/code MIME types. -->
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="text/*" />
                <data android:mimeType="application/json" />
                <data android:mimeType="application/xml" />
                <data android:mimeType="application/javascript" />
                <data android:mimeType="application/x-javascript" />
                <data android:mimeType="application/x-sh" />
                <data android:mimeType="application/x-shellscript" />
                <data android:mimeType="application/x-yaml" />
                <data android:mimeType="application/yaml" />
                <data android:mimeType="application/toml" />
                <data android:mimeType="application/sql" />
                <data android:mimeType="application/x-httpd-php" />
                <data android:mimeType="application/x-php" />
                <data android:mimeType="application/x-python" />
                <data android:mimeType="application/x-ruby" />
                <data android:mimeType="application/x-perl" />
                <data android:mimeType="application/x-tex" />
                <data android:mimeType="application/x-subrip" />
                <data android:mimeType="application/x-wine-extension-ini" />
            </intent-filter>

            <!-- Same, but for files whose MIME type the file manager can't tell (octet-stream,
                 */*, none): matched by extension / well-known name instead. -->
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.txt" />
                <data android:pathPattern=".*\\.md" />
                <data android:pathPattern=".*\\.markdown" />
                <data android:pathPattern=".*\\.log" />
                <data android:pathPattern=".*\\.ini" />
                <data android:pathPattern=".*\\.cfg" />
                <data android:pathPattern=".*\\.conf" />
                <data android:pathPattern=".*\\.properties" />
                <data android:pathPattern=".*\\.env" />
                <data android:pathPattern=".*\\.gitignore" />
                <data android:pathPattern=".*\\.gitattributes" />
                <data android:pathPattern=".*\\.gitmodules" />
                <data android:pathPattern=".*\\.editorconfig" />
                <data android:pathPattern=".*\\.kt" />
                <data android:pathPattern=".*\\.kts" />
                <data android:pathPattern=".*\\.java" />
                <data android:pathPattern=".*\\.gradle" />
                <data android:pathPattern=".*\\.xml" />
                <data android:pathPattern=".*\\.json" />
                <data android:pathPattern=".*\\.json5" />
                <data android:pathPattern=".*\\.yaml" />
                <data android:pathPattern=".*\\.yml" />
                <data android:pathPattern=".*\\.toml" />
                <data android:pathPattern=".*\\.csv" />
                <data android:pathPattern=".*\\.tsv" />
                <data android:pathPattern=".*\\.sql" />
                <data android:pathPattern=".*\\.html" />
                <data android:pathPattern=".*\\.htm" />
                <data android:pathPattern=".*\\.css" />
                <data android:pathPattern=".*\\.scss" />
                <data android:pathPattern=".*\\.sass" />
                <data android:pathPattern=".*\\.less" />
                <data android:pathPattern=".*\\.js" />
                <data android:pathPattern=".*\\.mjs" />
                <data android:pathPattern=".*\\.cjs" />
                <data android:pathPattern=".*\\.jsx" />
                <data android:pathPattern=".*\\.ts" />
                <data android:pathPattern=".*\\.tsx" />
                <data android:pathPattern=".*\\.vue" />
                <data android:pathPattern=".*\\.svelte" />
                <data android:pathPattern=".*\\.php" />
                <data android:pathPattern=".*\\.py" />
                <data android:pathPattern=".*\\.rb" />
                <data android:pathPattern=".*\\.go" />
                <data android:pathPattern=".*\\.rs" />
                <data android:pathPattern=".*\\.c" />
                <data android:pathPattern=".*\\.h" />
                <data android:pathPattern=".*\\.cpp" />
                <data android:pathPattern=".*\\.hpp" />
                <data android:pathPattern=".*\\.cc" />
                <data android:pathPattern=".*\\.cs" />
                <data android:pathPattern=".*\\.swift" />
                <data android:pathPattern=".*\\.dart" />
                <data android:pathPattern=".*\\.lua" />
                <data android:pathPattern=".*\\.pl" />
                <data android:pathPattern=".*\\.r" />
                <data android:pathPattern=".*\\.sh" />
                <data android:pathPattern=".*\\.bash" />
                <data android:pathPattern=".*\\.zsh" />
                <data android:pathPattern=".*\\.bat" />
                <data android:pathPattern=".*\\.cmd" />
                <data android:pathPattern=".*\\.ps1" />
                <data android:pathPattern=".*\\.smali" />
                <data android:pathPattern=".*\\.aidl" />
                <data android:pathPattern=".*\\.pro" />
                <data android:pathPattern=".*\\.cmake" />
                <data android:pathPattern=".*\\.mk" />
                <data android:pathPattern=".*\\.lock" />
                <data android:pathPattern=".*\\.tf" />
                <data android:pathPattern=".*\\.diff" />
                <data android:pathPattern=".*\\.patch" />
                <data android:pathPattern=".*\\.rst" />
                <data android:pathPattern=".*\\.tex" />
                <data android:pathPattern=".*\\.gitkeep" />
                <data android:pathPattern=".*/Dockerfile" />
                <data android:pathPattern=".*/Makefile" />
                <data android:pathPattern=".*/gradlew" />
                <data android:pathPattern=".*/README" />
                <data android:pathPattern=".*/LICENSE" />
                <data android:pathPattern=".*/CHANGELOG" />
                <data android:pathPattern=".*/Procfile" />
                <data android:pathPattern=".*/Gemfile" />
                <data android:pathPattern=".*/Rakefile" />
                <data android:pathPattern=".*\\.releaserc" />
                <data android:pathPattern=".*\\.npmrc" />
                <data android:pathPattern=".*\\.nvmrc" />
                <data android:pathPattern=".*\\.babelrc" />
                <data android:pathPattern=".*\\.eslintrc" />
                <data android:pathPattern=".*\\.prettierrc" />
                <data android:pathPattern=".*\\.stylelintrc" />
                <data android:pathPattern=".*\\.dockerignore" />
                <data android:pathPattern=".*\\.npmignore" />
                <data android:pathPattern=".*\\.eslintignore" />
                <data android:pathPattern=".*\\.prettierignore" />
                <data android:pathPattern=".*\\.gitconfig" />
                <data android:pathPattern=".*\\.bashrc" />
                <data android:pathPattern=".*\\.zshrc" />
                <data android:pathPattern=".*\\.profile" />
                <data android:pathPattern=".*\\.mailmap" />
                <data android:pathPattern=".*\\.tool-versions" />
                <data android:pathPattern=".*\\.editorconfig" />
                <data android:pathPattern=".*/NOTICE" />
                <data android:pathPattern=".*/AUTHORS" />
                <data android:pathPattern=".*/CONTRIBUTORS" />
                <data android:pathPattern=".*/CONTRIBUTING" />
                <data android:pathPattern=".*/CODEOWNERS" />
                <data android:pathPattern=".*/COPYING" />
                <data android:pathPattern=".*/VERSION" />
                <data android:pathPattern=".*/TODO" />
                <data android:pathPattern=".*/INSTALL" />
                <data android:pathPattern=".*/SECURITY" />
                <data android:pathPattern=".*/MAINTAINERS" />
                <data android:pathPattern=".*/Jenkinsfile" />
                <data android:pathPattern=".*/Vagrantfile" />
                <data android:pathPattern=".*/Brewfile" />
                <data android:pathPattern=".*/Podfile" />
                <data android:pathPattern=".*/Fastfile" />
                <data android:pathPattern=".*/Gemfile.lock" />
                <data android:pathPattern=".*/CMakeLists.txt" />
            </intent-filter>
        </activity>
    </application>
</manifest>
